body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
    margin-bottom: 20px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 25px;
    font-size: 20px;
}

.nav-link {

    font-weight: 400;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.intro {
    font-family: 'Montserrat Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.image-title {
    position: absolute;
    right: 30%;
    width: 50%;
    transform: rotate(25deg);
}

.download-button {
    margin: 5% 3% 0 0;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
.awesome {
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 20px;

}

.awesome:hover {
    color: #ff4c68;
}

.feat-h3 {
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.feat-p {
    color: #8f8f8f;
}

.feat {
    /*padding-top: 10rem;*/
}

#features {
    padding: 5% 15%;
    background-color: white;
    position: relative;
}

.feat-each {
    padding: 2rem 1rem;
}

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: white;
}

.testimonial-image {
    width: 100px;
    border-radius: 100%;
    margin: 30px 30px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 0 20% 3%;
}

.press-image {
    width: 200px;
    padding: 0 2% 3%;
}

.carousel-item {
    padding: 7% 15%;
}

.button {
    width: 100%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.price-card {
    padding: 3% 2%;
}

@media (max-width: 991px) {
    .image-title {
        position: static;
        transform: rotate(0);
        padding-top: 40px;
    }

    #title {
        text-align: center;
    }
}

@media (max-width: 1293px) and (min-width: 991px) {
    .image-title {
        right: 20%;
        width: 70%;
    }
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}

.cta-h {
    font-family: "Montserrat Black", sans-serif;
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
    margin-bottom: 40px;
}

.cta-btn {
    margin: 20px 15px 10px;
}

#footer {
    background-color: white;
    text-align: center;
    padding: 5%;
}

.copyright {
    font-weight: bold;
    color: #8f8f8f;
}

.footer-icon {
    margin: 2% 10px 20px;
}